body {
}

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width:100%;
}

body {
    background-color: #00807f;
}

#content {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
