
table {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width:100%;
}

body {
    background-color: teal;
}

#content {
	margin: 50px auto;
	margin-left: 15%;
	margin-right: 15%;
}

#locationContainer, #dayContainer, #barListing {
	padding-top: 2px;
	padding-bottom: 2px;
    overflow: hidden;
}

img {
	width: 100px;
	height: 100px;
}

.tablink, .daytab {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover, .daytab:hover {
	background-color: #777;
}

.tablink {
    text-align: left;
}

.daytab {
    width: 14.28%;
}

#header {
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: black;
}

#page {
    overflow: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #777;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownContent a {
    min-width: 150px;
}

.dropdown:hover, .dropdownContent {
    display: block;
    position:absolute;
}